ul img {
  max-width: 300px;
  display: block;
}
li {
  display: inline-block;
}
li a {
  display: block;
  position: relative;
  text-decoration: none;
  background: red;
  padding: 10px;
  height: 100%;
  width: 100%;
}