.img_post {
	width: 20%;
	padding: 20px;	
}


/*.image_box {
	padding: 20px;	
}*/

/*.img_post:hover {
	box-shadow: 4px 4px 6px rgba(0,0,0,.1);
}


.img_post ui-draggable ui-draggable-handle img {
	transition: box-shadow .1s ease-out;
}*/


@font-face {
  font-family: UniversStd;
  src: url(UniversLTStd.otf);
}
@font-face {
  font-family: UniversBold;
  src: url(UniversLTStd-Bold.otf);
}
@font-face {
  font-family: UniversLight;
  src: url(UniversLTStd-Light.otf);
}

p {
  font-family: UniversStd;
  font-size: 11px;
}

h1 {
  font-family: UniversBold;
  font-size: 18px;
}

h2 {
  font-family: UniversBold;
  font-size: 14px;
}

.caption {
  font-family: UniversLight;
  font-size: 9px;
}

.case-study {
  width: 80%;
}

/*ul {
  list-style-type: none;
  font-family: UniversStd;
  font-size: 11px;
}
*/




