body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0048FF;
  width: 80%;
  margin: auto;

}


.inside {
  margin: auto;
  width: 80%;
}

@media all and (max-width:800px)
{
    .row {
      display: block !important;
    }
    .right{
      margin-left: 0 !important;

    }
    #services {
      padding-top: 20px;
    }
    .left{
      margin-right: 0 !important;
    }

    p {
      font-size: 4vw !important;
      line-height: 15% !important;

    }
    a {
      font-size: 4vw !important;
    }
    h1 {
      font-size: 6vw !important;
      line-height: 1% !important;
}

}



/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.wrap {
/*  border: 10px dotted red;
*/  
  max-width: 1200px;
  margin: 0 auto;
}

.conclusion {
  padding-bottom: 40px;
}

/*section {
    border: 10px dotted green;
    min-height: 300px;
}
*/
.row {
/*  border: 5px dotted orange;
*/  display: flex;
}

.left, .right, .center {
/*  border: 5px dotted purple;
*/  flex: 1;
}

.left {
  margin-right: 10px;
}
.right {
  margin-left: 10px;
}
.center {
  margin-right: 10px;
  margin-left: 10px;
}




@font-face {
  font-family: inspografik;
  src: url(../assets/FrankfurterStd.otf);
}

@font-face {
  font-family: UniversStd;
  src: url(../assets/UniversLTStd.otf);
}
@font-face {
  font-family: UniversBold;
  src: url(../assets/UniversLTStd-Bold.otf);
}
@font-face {
  font-family: UniversLight;
  src: url(../assets/UniversLTStd-Light.otf);
}


p {
/*  font-family: UniversStd;
  font-size: 2vw;
  text-align: justify;
  line-height: 50%;*/
text-transform: uppercase;
  font-family: lores-12, sans-serif;
font-weight: 400;
font-style: normal;
}

h1 {
  font-family: inspografik;
  color: #0048FF;
  font-size: 4vw;
  line-height: 50%;

}

h2 {
  font-family: UniversBold;
  font-size: 18px;
}

a {
  font-family: UniversStd;
  font-size: 2vw;
  text-align: justify;
  color: #0048FF;
  text-decoration: none;
}

.caption {
  font-family: UniversLight;
  font-size: 11px;
  text-transform: uppercase;
}






/* MAX HEIGHT DEPENDS ON WRAPPER LENGTH? WAS PREVIOUSLY 600*/
div.workImages img {
  max-height: 600px;
  max-width: 600px;
}

.iteration-text {
  min-height: 210px;
}


a:hover {
  text-decoration: underline !important;
}




.row {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}


.left, .right, .center {
/*  border: 5px dotted purple;
*/  flex: 1;
}








.img_post-index {
  width: 40%;
}

.img_post {
  width: 20%;
}

.img_post:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:visited { 
  color: #0048FF;
}

